<!DOCTYPE html>
<html>
<head>
  <title>Person App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
	<nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/person/new">Create page</a>
      <a class="navbar-brand" href="/person">Home page</a>
    </nav>
