<%- include("partials/header") %>

<div>
  <h3>Add Person</h3>
  <br>
  <form action="/person" method="POST">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="pers[name]" placeholder="Enter name">
    </div>
    <div class="field" class="form-group">
      <label>Birthday</label>
      <input class="form-control" type="date" name="pers[birthday]">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> 

<%- include("partials/footer") %>